* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "nav app";
    grid-template-columns: 25% 75%;
    overflow-y: scroll;
}

nav {
    grid-area: nav;
    background: rgb(6, 70, 6);
    color: white;
    min-height: 100vh;
    max-height: 100%;
}

#app {
    grid-area: app;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1000ms;
    opacity: 0;
}

nav>h1 {
    font-size: 28px;
    position: fixed;
    left: 20px;
    top: 30%;
}

nav>div {
    position: fixed;
    left: 20px;
    top: calc(30% + 3em)
}

nav>div>a {
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}


nav>div>a:hover,
a:focus {
    background-size: 100% 3px;
}

#touren>div>ul>li>a {
    font-size: 22px;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#touren > div > span > img {
    max-width: 50vw;
    height: auto;
    max-height: 70vh;
    display: block;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    cursor: zoom-in;
}


#touren>div>ul>li>a:hover,
a:focus {
    background-size: 100% 3px;
}

#touren>div>ul {
    list-style: none;
    margin-bottom: 20px;
    margin-top: 5px;
}

#touren {
    margin: 20px;
}

#touren div > h2 {
    margin-bottom: 5px;
}

#scrollToTop {
    background: rgb(6, 70, 6);
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 2;
    display: table;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#scrollToTop:hover {
    background: rgb(17, 61, 17);
    transform: scale(1.04)
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home>img {
    min-height: 100vh;
    max-width: 100%;
}

#gallery {
    width: calc(100% - 40px);
    margin: 20px;
}


#gallery>div>img {
    width: calc(100% / 3 - 9px);
}

#gallery>div>img:hover {
    cursor: zoom-in;
}

.fixedSize {
    margin-bottom: 400px;
}

#zoomel {
    background: rgba(36, 35, 35, 0.918);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

#zoomedImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    transform: scale(0.6);
    cursor: zoom-in;
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.fullSize {
    transform: scale(1) !important;
    cursor: zoom-out !important;
}


#info {
    position: fixed;
    top: 38vh;
    left: 75vw;
    padding: 25px;
    z-index: 5;
    color: white;
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1)
}

.moveRight {
    transform: translate(25vw);
}