@media (max-width: 768px) {
    #gallery>div>img {
        width: calc(100% / 2 - 9px);
    }

    body {
        display: grid;
        grid-template-areas: "nav" "app";
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        overflow-y: scroll;
    }

    nav {
        height: 4.8em;
        min-height: unset;
        max-height: unset;
        transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    nav>h1 {
    font-size: 24px;
    position: absolute;
    left: 5vw;
    top: 1em;
    }

    #links {
        position: absolute;
        left: 5vw;
        top: 5em;
        visibility: hidden;
    }

    #container {
        padding-top: calc(100vh - 4.8em);
    }

    nav:hover {
        height: 13em
    }

    nav:hover #links {
        visibility: visible;
    }

    #touren>div>span>img {
        max-width: 70vw;
        max-height: 80vh;
    }
}   

@media (max-width: 425px) {
    h2 {
        font-size: 20px;
    }

    #gallery>div>img {
        width: calc(100% - 9px);
    }

    #infoWrapper {
        width: 80vw;
        text-align: center;
    }

    #touren>div>span>img {
        max-width: 90vw;
        max-height: 80vh;
    }
}