@media (max-width: 768px) {
    #zoomedImg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 425px) {
    h2 {
        font-size: 20px;
    }
    
    #infoWrapper {
        width: 80vw;
        text-align: center;        
    }
}