<div id="touren">
    <div>
        <h2>Navigation</h2>
        <ul>
            <li><a href="#touren_ErsteTour">Erste Tour</a></li>
            <li><a href="#touren_ZweiteTour">Zweite Tour</a></li>
            <li><a href="#touren_DritteTour">Dritte Tour</a></li>
        </ul>
    </div>
    <div id="ErsteTour">
        <h2>Erste Tour</h2>
        <span>heute war ich beim Essen in Reykjavik es war richtig lecker ;) 
<br> 
<br> 

            nostrum, aliquam quasi corrupti optio ex explicabo ad voluptatibus excepturi molestiae officia illo at.
            Natus, quia magni. loren
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor perspiciatis a tenetur impedit totam sed!
            Ipsa, neque nesciunt. Porro debitis minus tempore officia mollitia quibusdam ex culpa asperiores dolorum
            placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, corporis. Ipsa repudiandae
            obcaecati illo, temporibus suscipit voluptate quae voluptates voluptas, vel at quidem cum mollitia maxime et
            quibusdam laudantium laborum.lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, earum.
            Quod suscipit esse voluptatum molestiae, minus molestias accusamus aperiam aspernatur reprehenderit
            voluptatibus ipsam pariatur, laudantium illo quasi et, aliquid laborum? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Non libero facilis, sint consequatur quasi officiis minima dignissimos
            voluptas repudiandae! Mollitia repudiandae temporibus eum error dignissimos suscipit eius veritatis
            <img data-src="assets/image001.jpg" class="zoomable" alt="silas und ich">
            consequatur deleniti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis soluta sed facere,
            enim nisi perspiciatis iste laboriosam velit maiores non, voluptatem ratione ab fuga sequi harum ullam fugit
            incidunt error? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe in repudiandae, debitis
            repellendus tempore porro corrupti eos dolor et fugit, vel ad inventore eaque, libero veritatis asperiores
            qui ducimus ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium voluptatum
            dolores animi tempora ut ab laudantium dolore consectetur cupiditate nam ipsam reprehenderit nemo quos neque
            in, minima dolorum atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo obcaecati voluptas
            quia doloremque nulla dolores, tempore voluptatem accusamus quasi mollitia laboriosam, libero amet odit
            quaerat sequi eum illum? Laudantium, veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dicta veniam possimus provident pariatur ipsam odio minima consectetur, ratione facilis repellat laudantium
            aut consequatur molestias. Ratione nam dignissimos quisquam architecto itaque? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Natus labore deleniti aperiam architecto accusantium, culpa illo, quibusdam
            nemo praesentium facilis, nihil eum vero voluptas minus reiciendis est nisi dolorum. Magni.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam delectus eaque accusantium doloribus
            nostrum, aliquam quasi corrupti optio ex explicabo ad voluptatibus excepturi molestiae officia illo at.
            Natus, quia magni. loren
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor perspiciatis a tenetur impedit totam sed!
            Ipsa, neque nesciunt. Porro debitis minus tempore officia mollitia quibusdam ex culpa asperiores dolorum
            placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, corporis. Ipsa repudiandae
            obcaecati illo, temporibus suscipit voluptate quae voluptates voluptas, vel at quidem cum mollitia maxime et
            quibusdam laudantium laborum.lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, earum.
            Quod suscipit esse voluptatum molestiae, minus molestias accusamus aperiam aspernatur reprehenderit
            voluptatibus ipsam pariatur, laudantium illo quasi et, aliquid laborum? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Non libero facilis, sint consequatur quasi officiis minima dignissimos
            voluptas repudiandae! Mollitia repudiandae temporibus eum error dignissimos suscipit eius veritatis
            consequatur deleniti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis soluta sed facere,
            enim nisi perspiciatis iste laboriosam velit maiores non, voluptatem ratione ab fuga sequi harum ullam fugit
            incidunt error? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe in repudiandae, debitis
            repellendus tempore porro corrupti eos dolor et fugit, vel ad inventore eaque, libero veritatis asperiores
            qui ducimus ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium voluptatum
            dolores animi tempora ut ab laudantium dolore consectetur cupiditate nam ipsam reprehenderit nemo quos neque
            in, minima dolorum atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo obcaecati voluptas
            quia doloremque nulla dolores, tempore voluptatem accusamus quasi mollitia laboriosam, libero amet odit
            quaerat sequi eum illum? Laudantium, veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dicta veniam possimus provident pariatur ipsam odio minima consectetur, ratione facilis repellat laudantium
            aut consequatur molestias. Ratione nam dignissimos quisquam architecto itaque? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Natus labore deleniti aperiam architecto accusantium, culpa illo, quibusdam
            nemo praesentium facilis, nihil eum vero voluptas minus reiciendis est nisi dolorum. Magni.</span>
    </div>
    <div id="ZweiteTour">
        <h2>Zweite Tour</h2>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam delectus eaque accusantium doloribus
            nostrum, aliquam quasi corrupti optio ex explicabo ad voluptatibus excepturi molestiae officia illo at.
            Natus, quia magni. loren
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor perspiciatis a tenetur impedit totam sed!
            Ipsa, neque nesciunt. Porro debitis minus tempore officia mollitia quibusdam ex culpa asperiores dolorum
            placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, corporis. Ipsa repudiandae
            obcaecati illo, temporibus suscipit voluptate quae voluptates voluptas, vel at quidem cum mollitia maxime et
            quibusdam laudantium laborum.lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, earum.
            Quod suscipit esse voluptatum molestiae, minus molestias accusamus aperiam aspernatur reprehenderit
            voluptatibus ipsam pariatur, laudantium illo quasi et, aliquid laborum? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Non libero facilis, sint consequatur quasi officiis minima dignissimos
            voluptas repudiandae! Mollitia repudiandae temporibus eum error dignissimos suscipit eius veritatis
            consequatur deleniti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis soluta sed facere,
            enim nisi perspiciatis iste laboriosam velit maiores non, voluptatem ratione ab fuga sequi harum ullam fugit
            incidunt error? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe in repudiandae, debitis
            repellendus tempore porro corrupti eos dolor et fugit, vel ad inventore eaque, libero veritatis asperiores
            qui ducimus ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium voluptatum
            dolores animi tempora ut ab laudantium dolore consectetur cupiditate nam ipsam reprehenderit nemo quos neque
            in, minima dolorum atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo obcaecati voluptas
            quia doloremque nulla dolores, tempore voluptatem accusamus quasi mollitia laboriosam, libero amet odit
            quaerat sequi eum illum? Laudantium, veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dicta veniam possimus provident pariatur ipsam odio minima consectetur, ratione facilis repellat laudantium
            aut consequatur molestias. Ratione nam dignissimos quisquam architecto itaque? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Natus labore deleniti aperiam architecto accusantium, culpa illo, quibusdam
            nemo praesentium facilis, nihil eum vero voluptas minus reiciendis est nisi dolorum. Magni.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam delectus eaque accusantium doloribus
            nostrum, aliquam quasi corrupti optio ex explicabo ad voluptatibus excepturi molestiae officia illo at.
            Natus, quia magni. loren
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor perspiciatis a tenetur impedit totam sed!
            Ipsa, neque nesciunt. Porro debitis minus tempore officia mollitia quibusdam ex culpa asperiores dolorum
            placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, corporis. Ipsa repudiandae
            obcaecati illo, temporibus suscipit voluptate quae voluptates voluptas, vel at quidem cum mollitia maxime et
            quibusdam laudantium laborum.lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, earum.
            Quod suscipit esse voluptatum molestiae, minus molestias accusamus aperiam aspernatur reprehenderit
            voluptatibus ipsam pariatur, laudantium illo quasi et, aliquid laborum? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Non libero facilis, sint consequatur quasi officiis minima dignissimos
            voluptas repudiandae! Mollitia repudiandae temporibus eum error dignissimos suscipit eius veritatis
            consequatur deleniti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis soluta sed facere,
            enim nisi perspiciatis iste laboriosam velit maiores non, voluptatem ratione ab fuga sequi harum ullam fugit
            incidunt error? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe in repudiandae, debitis
            repellendus tempore porro corrupti eos dolor et fugit, vel ad inventore eaque, libero veritatis asperiores
            qui ducimus ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium voluptatum
            dolores animi tempora ut ab laudantium dolore consectetur cupiditate nam ipsam reprehenderit nemo quos neque
            in, minima dolorum atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo obcaecati voluptas
            quia doloremque nulla dolores, tempore voluptatem accusamus quasi mollitia laboriosam, libero amet odit
            quaerat sequi eum illum? Laudantium, veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dicta veniam possimus provident pariatur ipsam odio minima consectetur, ratione facilis repellat laudantium
            aut consequatur molestias. Ratione nam dignissimos quisquam architecto itaque? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Natus labore deleniti aperiam architecto accusantium, culpa illo, quibusdam
            nemo praesentium facilis, nihil eum vero voluptas minus reiciendis est nisi dolorum. Magni.</span>
    </div>
    <div id="DritteTour">
        <h2>Dritte Tour</h2>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam delectus eaque accusantium doloribus
            nostrum, aliquam quasi corrupti optio ex explicabo ad voluptatibus excepturi molestiae officia illo at.
            Natus, quia magni. loren
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor perspiciatis a tenetur impedit totam sed!
            Ipsa, neque nesciunt. Porro debitis minus tempore officia mollitia quibusdam ex culpa asperiores dolorum
            placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, corporis. Ipsa repudiandae
            obcaecati illo, temporibus suscipit voluptate quae voluptates voluptas, vel at quidem cum mollitia maxime et
            quibusdam laudantium laborum.lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, earum.
            Quod suscipit esse voluptatum molestiae, minus molestias accusamus aperiam aspernatur reprehenderit
            voluptatibus ipsam pariatur, laudantium illo quasi et, aliquid laborum? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Non libero facilis, sint consequatur quasi officiis minima dignissimos
            voluptas repudiandae! Mollitia repudiandae temporibus eum error dignissimos suscipit eius veritatis
            consequatur deleniti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis soluta sed facere,
            enim nisi perspiciatis iste laboriosam velit maiores non, voluptatem ratione ab fuga sequi harum ullam fugit
            incidunt error? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe in repudiandae, debitis
            repellendus tempore porro corrupti eos dolor et fugit, vel ad inventore eaque, libero veritatis asperiores
            qui ducimus ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium voluptatum
            dolores animi tempora ut ab laudantium dolore consectetur cupiditate nam ipsam reprehenderit nemo quos neque
            in, minima dolorum atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo obcaecati voluptas
            quia doloremque nulla dolores, tempore voluptatem accusamus quasi mollitia laboriosam, libero amet odit
            quaerat sequi eum illum? Laudantium, veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dicta veniam possimus provident pariatur ipsam odio minima consectetur, ratione facilis repellat laudantium
            aut consequatur molestias. Ratione nam dignissimos quisquam architecto itaque? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Natus labore deleniti aperiam architecto accusantium, culpa illo, quibusdam
            nemo praesentium facilis, nihil eum vero voluptas minus reiciendis est nisi dolorum. Magni.</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam delectus eaque accusantium doloribus
            nostrum, aliquam quasi corrupti optio ex explicabo ad voluptatibus excepturi molestiae officia illo at.
            Natus, quia magni. loren
            <img data-src="assets/image008.jpg" class="zoomable" alt="silas und ich">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor perspiciatis a tenetur impedit totam sed!
            Ipsa, neque nesciunt. Porro debitis minus tempore officia mollitia quibusdam ex culpa asperiores dolorum
            placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, corporis. Ipsa repudiandae
            obcaecati illo, temporibus suscipit voluptate quae voluptates voluptas, vel at quidem cum mollitia maxime et
            quibusdam laudantium laborum.lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, earum.
            Quod suscipit esse voluptatum molestiae, minus molestias accusamus aperiam aspernatur reprehenderit
            voluptatibus ipsam pariatur, laudantium illo quasi et, aliquid laborum? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Non libero facilis, sint consequatur quasi officiis minima dignissimos
            voluptas repudiandae! Mollitia repudiandae temporibus eum error dignissimos suscipit eius veritatis
            consequatur deleniti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis soluta sed facere,
            enim nisi perspiciatis iste laboriosam velit maiores non, voluptatem ratione ab fuga sequi harum ullam fugit
            incidunt error? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe in repudiandae, debitis
            repellendus tempore porro corrupti eos dolor et fugit, vel ad inventore eaque, libero veritatis asperiores
            qui ducimus ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium voluptatum
            dolores animi tempora ut ab laudantium dolore consectetur cupiditate nam ipsam reprehenderit nemo quos neque
            in, minima dolorum atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo obcaecati voluptas
            quia doloremque nulla dolores, tempore voluptatem accusamus quasi mollitia laboriosam, libero amet odit
            quaerat sequi eum illum? Laudantium, veritatis! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dicta veniam possimus provident pariatur ipsam odio minima consectetur, ratione facilis repellat laudantium
            aut consequatur molestias. Ratione nam dignissimos quisquam architecto itaque? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Natus labore deleniti aperiam architecto accusantium, culpa illo, quibusdam
            nemo praesentium facilis, nihil eum vero voluptas minus reiciendis est nisi dolorum. Magni.</span>
    </div>
    <div id="scrollToTop" class="" onclick="scrollToTop()">Zurück nach oben</div>
</div>