<div id="touren">
    <div>
        <h2>Navigation</h2>
        <ul>
            <li><a href="#touren_Ankunft">Ankunft</a></li>
            <li><a href="#touren_Fimmvoerduhals">Auf dem Fimmvörðuháls</a></li>
            <li><a href="#touren_Laugavegur">Auf dem Laugavegur</a></li>
        </ul>
    </div>
    <div id="Ankunft">
        <h2>Ankunft</h2>
        Der Flug verlief ohne Probleme. Um 20:10 war der Abflug nach Köln und von dort ging es um 23:40 (20 Minuten
        Verspätung) Richtung Kevlavik, der größte Flughafen Islands. Die Ankunftszeit war 00:40, dies entspricht 2:40 in
        Deutschland. Dank der nördlichen Lage schien zu diesem Zeitpunkt noch die Sonne.
        <div class="slideshow">
            <img data-src="https://static1.squarespace.com/static/55ee34aae4b0bf70212ada4c/57d9829837c5819632bc630b/5b2c78eb1ae6cfd5a3349253/1549992822036/iceland-1751463_1920.jpg?format=1500w"
                class="zoomable" alt="Wartend am Flughafen">
            <img data-src="assets/image001.jpg" class="zoomable" alt="Veraschiedung">
            <img data-src="assets/image002.jpg" class="zoomable" alt="Wartend am Flughafen">
        </div>

        Als ich aus dem Flughafen Bereich raus kam, hat mich eine liebe Schwester abgeholt und zur Wohnung Ihres Bruders
        gebracht, bei dem ich die ersten Nächte verbringen durfte. Nach einem ereignisreichen Wochenende mit
        Versammlung, Dienst, Essen, Wandern, Singen und viel Spaß fuhr Sebastian, der Bruder bei dem ich schlafe, und
        ich nach Reykjavik. Die Hauptstadt Islands mit knapp 200.000 Einwohnern.
        </br> </br>
        Den Start meiner Wanderung hatte ich für Dienstag Morgen geplant. Dafür brauchte ich noch Spiritus für meinen
        Kocher sowie Wanderkarten. Doch so einfach wie es in Deutschland ist, ist es hier leider nicht. Die Hälfte der
        Personen die ich fragte wusste nicht was Spiritus ist und die andere Hälfte hatte es nicht. Also wurde ich von
        Laden zu Laden
        geschickt teilweise quer durch Reykjavik. Hierbei stellte sich ein weiteres Problem. Die Skandinavischen Länder
        sind sehr fortschrittlich was Bezahlungsmethoden angeht. Jede kleine Bäckerei hat ein Kartenterminal um
        Bargeldlos sowie Kontaktlos zu zahlen. Es wird noch nicht Mal gefragt ob man mit Karte zahlen möchte... Es wird
        davon ausgegangen. Im Grunde genommen brauchst du in Island kein Bargeld --> und ich hatte deshalb auch keins.
        Es sei dennnnnnn du möchtest Bus fahren. Im Bus kann nicht mit Karte gezahlt werden geschweige denn gewechselt
        werden. Der kleinste Schein in Island sind 1000 isländische Kronen (ca. 7 Euro) und eine Busfahrt kostet 470
        Kronen. Also braucht man Kleingeld da die Busse nicht wechseln. Zum Glück hatte ich von diesem Problem gelesen
        es aber nicht wirklich glauben können, da das Buch mit dieser Information schon einige Jahre alt war. Am
        Bushäuschen fragte ich einen Einheimischen der mir das bestätigte. Er war so nett, dass er mir ein Ticket von
        seinen gab. Vor der nächsten Busfahrt bin ich also zu Bank gegangen und habe Geld abgehoben um diese Geld nun in
        Münzen zu wechseln, musste ich in der Bank eine Nummer ziehen und warten. Zum Glück ging dann alles schneller
        als erwartet und der Bus war auch fast pünktlich. Neben den Karten erhielt ich in dem Laden eine sehr gute
        Beratung
        die mir einige Missgeschicke ersparen wird. Für den Spiritus gab es nun
        nur noch eine Möglichkeit: das Bauhaus (das gleiche wie in Deutschland). Der erste Mitarbeiter den ich fragte
        konnte mir sofort auswendig die Regalreihe sagen, in der ich dann auch fündig wurde. Puh zum Glück
        alles erledigt, hatte bereits daran gezweifelt. </br></br>
        Am Samstag in der Versammlung hatten wir einen Vortragsredner aus Reykjavik der ein paar Jahre in München gelebt
        und mich spontan eingeladen hatte. Er war so nett mich am Baumarkt abzuholen und als er erfuhr, dass ich noch
        keine Unterkunft für diese Nacht hatte in null Komma nichts ein Bett bereit machte. Die Gastfreundschaft der
        isländischen
        Brüder ist wirklich unbeschreiblich ;). Dienstag Früh geht mein Bus nach Skógar wo meine erste Wanderung
        beginnt. Knapp 80 Kilometer über Þórsmörk nach Landmannalaugar. Ich denke ich werde mir 5 Tage Zeit nehmen. Bin
        ja nicht im Stress.
    </div></br>
    <div id="Fimmvoerduhals">
        <h2>Auf dem Fimmvörðuháls</h2>
        <h3>Dienstag 4.Juni</h3>
        </br>
        Der Bus Nr.51 Richtung Skogar, meinem Startpunkt für die Tour, verließ um 9 Uhr den Busbahnhof in Reykjavik. Die
        Busfahrt war relativ unspektakulär, bis auf die wunderschöne Aussicht. Auch mit dem Wetter konnte ich sehr
        zufrieden sein, denn es war herrlich, keine Selbstverständlichkeit für Island. Der Bus fuhr vorbei
        an kleinen Orten, viel Natur und dem Seljalandfoss, dem wahrscheinlich berühmtesten Wasserfall Islands. Gegen
        halb 12 kamen wir nach Skogar. Dort ist auch der gleichnamige Skogarfoss. Aufgrund seiner Schönheit eine sehr
        gut besuchte Touristenattraktion. Um halb 12 standen bereits min. 4 Reisebusse auf dem Parkplatz dazu viele
        Autos. Schnell ein Foto gemacht und weiter, bloß weg von den Touristen. Neben dem Wasserfall führt eine Treppe
        zu einer Aussichtsplattform, die direkt am Wasserfall platziert ist. Mitten in der Menschen Karawane kämpfe ich
        mich mit meinem 19 Kilo schweren Rucksack hinauf. Von hier folge ich nun dem Verlauf des Skogar. Es ist wirklich
        gewaltig was für eine Schlucht der Skogar sich gegraben hat. An manchen Stellen schaut man 50 Meter hinab und
        ab und zu geht man direkt daneben. Gut fürs Flasche auffüllen. Das Wasser ist zwar sehr kalt schmeckt dafür umso
        besser. Der Aufstieg gestaltet sich als stufenweise. Der Skogar ist nämlich kein wilder Fluss sondern eigentlich
        sehr gemächlich. Alle paar Hundert Meter macht er den Höhenunterschied mit einem brausenden Wasserfall wett. Auf
        dem ganzen Weg ca. 25 Stück. Die größeren davon haben auch Namen. Nach einer Stunde werden auch die Menschen
        weniger.
        Es kommen nur noch selten Leute entgegen. Vor allem keine denen das Etikett noch am Wanderschuh hängt (leider
        ist das echt passiert). Auf der Hälfte meiner Tagesetappe treffe ich auf Susanne und Tim, ein deutsches Pärchen.
        Wir beschließen gemeinsam Pause zu machen und die beiden Teilen mit mir sehr großzügig, da ich nur Essen habe,
        für das man den Kocher benötigt. Das Highlight ist die isländische Prinzenrolle die meiner Meinung nach noch
        besser schmeckt (danke nochmal). Susanne und Tim wandern wieder in Richtung Tal, während ich mich weiter an den
        Aufstieg mache. Wieder neu gekräftigt geht es nun auf einer Schotterstraße immer höher hinauf. Auf 700 Meter
        beginnen nun die ersten Schneefelder. Ab 800 Meter kann man das Aussehen der Natur mit den Alpen auf 3000 Metern
        vergleichen. Eine riesige Steinwüste mit immer größer werdenden Schneefeldern. Von hier kann man nun auch
        wunderbar den Eyjafjallajökull betrachten, der 2010 den Flugverkehr durch seine Aschewolke lahmlegte und mit
        seiner Aussprache die Zunge der Nachrichtensprecher brach (https://youtu.be/7uCKSYTH-4o). Gegen 6 Uhr erreiche
        ich die Hütte. Diese Hütten werden von unterschiedlichen Organisationen bereitgestellt. Die meisten wenn nicht
        sogar alle sind unbewirtschaftet. Die Übernachtung kostet ca. 40€ in der Hütte und das Zelten daneben 14€. Die
        Bezahlung basiert auf Vertrauensbasis. In der Hauptsaison ist auf jeder Hütte ein "Warden" der die Hütte in
        Schuss
        hält und die Wanderer mit Informationen versorgt. Auf der Hütte treffe ich Niklas er kommt auch aus Deutschland
        und ist ein Jahr älter als ich. Wir kochen und essen gemeinsam, danach baue ich mein Zelt auf.
        Leider geht während dem Abspülen das Wasser zur Neige. Wir schnappen uns zwei Kanister aus der Ecke und holen
        Neues. Der nächste Fluss ist knapp einen Kilometer entfernt und unser gewählter "Weg" führt über
        mehrere Schneefelder. War auf jeden Fall eine schöne Schlepperei. Immerhin hatten wir nun auch für den nächsten
        Tag Wasser.
        </br></br>
        <h3>Mittwoch 5.Juni</h3>
        </br>
        Wir standen um 8 Uhr auf um zu Frühstücken. Danach machten wir uns für die heutige Tagesetappe bereit. Der Abbau
        der Zelte nahm dann aber doch noch einiges an Zeit in
        Anspruch, sodass wir erst gegen halb 11 Aufbruchbereit waren. Heute ging es über den Grat hinüber und danach der
        Abstieg ins Tal nach Þorsmörk. Leider war es nicht EIN Grat sondern fünf die direkt aufeinander folgten und
        zwischen jedem lag eine Mulde mit
        Schneefeld. Die insgesamte Breite des "Grates" waren 3-4 Kilometer. Nach einem sehr kurzen Abstieg über ein
        extrem
        steiles Geröllfeld und einem kleinen Klettersteig überquerten wir ein total glattes Plateau, das früher mal ein
        Berg gewesen sein musste, dann aber von einem Gletscher komplett abgeschnitten/abgetrennt wurde. Nach dem
        Plateau wanderten
        wir dem oberen Rand einer Schlucht entlang, die sich immer mehr ausdehnte und hinter jeder Biegung uns mit einem
        komplett neuen Anblick belohnte. Den Campingplatz in Þorsmörk erreichten wir gegen halb 4. Nachdem ich mich im
        Shop mit Müsliriegeln eingedeckt hatte verabschiedete ich mich von Niklas und begann den Laugavegur. Den
        bekanntesten Wanderweg Islands. Pro Jahr sind hier bis zu 8000 Wanderer unterwegs. Mit einer Länge von 53
        Kilometern verbindet er Landmannalaugar und Þorsmörk.
        Mein Ziel für diesen Abend war das Finden eines schönen Plätzchens für mich und mein Zelt. Nach ca. drei
        Kilometern auf dem Laugavegur wurde ich fündig. Nachdem das Zelt aufgebaut war und ich eine leckere
        Kartoffelsuppe gegessen hatte verschwand ich in meinem Schlafsack.
        </br></br>
        <h3>Donnerstag 6.Juni</h3>
        </br>
        An diesem Tag machte ich Pause. Ruhte mich aus, ging drei Kilometer zum Campingplatz zurück und duschte dort
        (natürlich gegen Gebühr denn in Island kostet so ziemlich alles extra) aß etwas und wanderte zurück.
    </div></br>
    <div id="Laugavegur">
        <h2>Auf dem Laugavegur</h2>
        <h3>Freitag 7.Juni</h3>
        </br>
        Um 10 vor 10 ging es los. Ich hatte etwas Obst gefrühstückt und mein Zelt abgebaut. Nach einem kurzen Stück
        endete der Birkenwald und ich kam
        an das erste Hindernis. Den Fluss Prönga den es zu Furten galt (es gab keine Brücke).
        Also Wanderschuhe ausgezogen, billige Schuhe die nass werden dürfen angezogen und rein in die kalten Fluten.
        Während die Flüsse abends sehr
        viel mehr Wasser führen (geschmolzen von der Sonne) war der Fluss in der Früh nur 20cm tief und nicht
        besonders breit.
        Am Fluss traf ich auf Julian und Jonas. Wir kannten uns bereits, da wir mit dem selben Flieger nach Island
        gekommen waren und
        in Köln am Flughafen gemeinsam geckickert hatten. Solche Zufälle sind halt echt lustig ;). Nach einem kleinen
        Hügel führte der Weg über eine weite Ebene die
        immer weiter anstieg. Der Boden bestand die meiste Zeit aus Sand und Gestein wurde dann aber in Anwesenheit von
        Wasser
        stellenweise auch Grün und leicht bewachsen (Moos und Gras). Gegen Mittag machten wir auf einem Hügel mit
        wunderbarer Aussicht Pause.
        Das Ende der Tagesetappe stellte sich als sehr anspruchsvoll heraus. Wir kamen an den Rand einer Schlucht in der
        ein
        Wildbach floss. Das Ziel lag auf der anderen Seite der Schlucht hinter einer Bergkette. Der Wildbach war zwar
        überbrückt doch
        der Aufstieg aus der Schlucht direkt auf den Grat der Bergkette gestaltete sich als sehr anstrengend. Immerhin
        war
        es zur Hütte nicht mehr weit. Sie lag sehr friedlich in einem kleinen Tal und ich erwartete dort eigentlich
        keinen
        weiterern Menschen, da
        der Wanderweg noch offiziell geschlossen war. Desto größer war der Kulturschock als wir ankamen. Das
        Eröffnungsdatum für den Weg
        hatte sich geändert und nun bereiteten 6 Leute emsig beschäftigt die Hütte vor. Dazu hörten sie lautstark Musik.
        Wir waren komplett
        perplex. Nachdem man den ganzen Tag die Stille der Natur genossen hatte drängte es mich schnell weiter. Ich
        trennte mich von Julian und Jonas und
        suchte mir einen Campingplatz
        ca. 2 km nach der Hütte. Der Zeltaufbau gestaltete sich mit dem Wind leider nicht ganz einfach und die Asche die
        sich an Kleidung und
        Zelt heftete tat ihr übriges aber ich denke es gibt schlimmeres.
        </br></br>
        <h3>Samstag 8.Juni</h3>
        </br>
        Am Samstag brach ich früh auf und um halb 11 war ich schon fast 10 Kilometer gelaufen. Der Weg führte über
        eine riesige
        Ebene die ein Warden sehr treffend mit dem Mond verglichen hatte. Schwarzer Sand, viele Felsbrocken und im Hintergrund
        die Berge, die die
        Ebene komplett umschlossen, das einzige was fehlte waren Krater und der Ausblick auf die Erde. Kurz bevor mich der Weg
        wieder in die Berge führte musste ich einen weiteren
        unüberbrückten Fluss
        überqueren. Der Fluss war um einges breiter als der erste und so kalt, dass es richtig Schmerzen verursachte.
        Gerade als ich meine Füße wieder spüren konnte, tauchte der nächste Fluss auf. Diesmal zum Glück mit Brücke.
        Die Hütte war nun nicht
        mehr weit entfernt und da es noch so früh am Tag war machte ich dort nur kurz Pause, frühstückte und wanderte
        danach
        zur nächsten Hütte, die nur wenige Kilometer entfernt war. Der Weg führte über einige Hügel und einen weiteren
        Fluss den ich überquerte ohne die Schuhe auszuziehen. Diese Hütte erreichte ich kurz vor 2 Uhr und ich war
        eigentlich schon daran
        vorbei gegangen als ich mich umentschied und zurück lief. Der Campingplatz hatte nämlich eine wunderschöne Lage
        und die nächste Möglichkeit zu Campen lag auf 1100 Meter.
        Was einen anstrengenden Aufstieg bedeutet hätte sowie Campen auf Schnee und darauf kann man wirklich verzichten.
        Den restlichen Tag gestaltete ich sehr entspannt. Nachdem
        das Zelt aufgebaut war und alles eingerichtet war spazierte ich um den See herum an dem der Campingplatz lag.
        Langsam merkte man
        auch einen Anstieg an Leuten auf dem Trail insgesamt waren es in dieser Nacht 11 Zelte. An den voherigen Tagen 
        hatte ich meist niemanden getroffen.
        </br></br>
        <h3>Sonntag 9.Juni</h3>
        </br>
        Am Sonntag startete ich die Wanderung um 8 Uhr. Mein Ziel war zwei Tagesetappen an einem Tag zu laufen um das
        Campen auf Schnee
        zu vermeiden. Diese Etappe war meiner Meinung nach die schönste und auch vulkanisch sehr aktiv. Überall
        stieg heißer Dampf
        aus dem Boden und das Gestein hatte eine orange/rote Farbe. Nach ein paar Minuten verließ der Weg die
        Schotterstraße und stieg
        immer weiter auf. Am Fuß des Berges traf ich auf zwei Amerikaner aus Idaho mit denen ich mich am Campingplatz
        bereits unterhalten hatten.
        Gemeinsam machten wir uns an den Aufstieg der ohne Serpentinen den Berg senkrecht hinaufführte. Vorbei an
        Schmelzwasserflüssen, Dampffontänen,
        und über Schneefelder tauchten wir immer weiter in das wunderbare Panorama ein. Nach 4h erreichten wir die Hütte
        auf 1050 Meter
        und frühstückten sehr ausgiebig. Der Warden dort war sehr nett und kochte uns sogar Kaffee. Kurz vor 2 begannen wir
        den Abstieg. Es ging fast ausschließlich nur noch abwärts. Die Dampffontänen häuften sich und man sah auch heiße
        Quellen. Ungefähr 5 Kilometer
        vor unserem Ziel begann der Wanderweg sehr gut von Tagestouristen bevölkert zu sein die mit speziellen Bussen
        oder Allrad Jeeps die Gegend besuchten.
        Nach 5 Wandertagen, 76 Kilometern und ca.2400 Höhenmetern erreichten wir um 4 Uhr Landmannalaugar. Jetzt hieß es
        ab in die Badehose
        und in den heißen Quellen entspannen (habe ich leider kein Bild von). Der Zufluss in das Becken war kochend
        heiß, und so richtig angenehm.
        </br>
        </br>
        Eigentlich hatte ich vorgehabt noch einen weiteren Tag in Landmannalaugar zu bleiben aber die vielen Touristen
        bewogen mich die
        Mitfahrgelegenheit wahrzunehmen die mir die Amerikaner angeboten hatten. Gegen halb 7 fuhren wir mit dem
        Allradjeep den die Amerikaner dort geparkt hatten wieder nach Reykjavik.
        Nathalie die mich auch schon vom Flughafen abgeholt hatte war zufällig gerade in Reykjavik sodass sie mich
        gleich bis nach Kevlavik mitnehmen konnte.
    </div>

    </br></br>
    </br></br>

    <div id="scrollToTop" onclick="scrollToTop()">Zurück nach oben</div>
</div>